body {
  background: linen;
  font-size: 30px;
}

button {
  font: inherit;
  padding: 1rem;
  border-radius: 2rem;
  transition: 150ms;
}

button:hover {
  transform: scale(0.8);
  opacity: 1;
}

.die {
  font-size: 3rem;
  outline: 2px dashed dodgerblue;
  padding: 1rem;
  border-radius: 1rem;

}